<div class="container">
  <header>
    <style>
    body {
      background-image: url("https://images.unsplash.com/photo-1442291928580-fb5d0856a8f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
      background-size: auto;
      background-repeat: none;
    }
    </style>
  </header>
  <body>
    <div class="content">
      <p>Welcome to Pet Keeper.</p>
      <p>Keep track of their vaccinations and appointments.</p> 
      <p>Take notes about their likes and dislikes.</p>
      </br>
      <p>Keep them healthy, keep them safe.</p>
      </br>
      <p>To get started, create an account or sign in.</p>
    </div>
  </body>
</div>
