<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/welcome.css">
</head>
<body>
  <div class="content">
    <p>Welcome to Pet Keeper.</p>
    <p>Keep track of their vaccinations and appointments.</p> 
    <p>Take notes about their likes and dislikes.</p>
    </br>
    <p>Keep them healthy, keep them safe.</p>
    </br>
    <p>To get started, create an account or sign in.</p>
  </div>
</body>
